<div class="classfooter">
<footer class="justify-content-center">
  <ul class="nav justify-content-right border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="#" class="nav-link px-6 text-muted">Perguntas Frequentes</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-6 text-muted">Central de Ajuda</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-6 text-muted">Termos de uso</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-6 text-muted">Privacidade</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-6 text-muted">Preferencias de Cookies</a></li>
  </ul>
<p class="text-center text-muted">Informações Corporativas</p>
</footer>
</div>
